<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <h5><i class="fas fa-database"></i> Data Management</h5>
        <p class="mb-3">Sistema completo para gerenciamento de dados empresariais, com foco em eficiência e organização.</p>
        <div class="social-links">
          <a href="#" class="me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="me-3"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <h5>Navegação</h5>
        <ul class="list-unstyled">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/cadastros">Cadastros</a></li>
          <li><a href="/planejamento">Planejamento</a></li>
          <li><a href="/executivo">Executivo</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <h5>Cadastros</h5>
        <ul class="list-unstyled">
          <li><a href="/cadastros/familias">Famílias</a></li>
          <li><a href="/cadastros/tamanhos">Tamanhos</a></li>
          <li><a href="/cadastros/cores">Cores</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <h5>Planejamento</h5>
        <ul class="list-unstyled">
          <li><a href="/planejamento/ordem-compra">Ordens de Compra</a></li>
          <li><a href="/planejamento/purchase-order">Purchase Orders</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4">
        <h5>Executivo</h5>
        <ul class="list-unstyled">
          <li><a href="/executivo/analise-estoque">Análise de Estoque</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2025 Data Management System. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>